[Desktop Entry]
Name[ar]=يطلب تشغيل أمر من خلال بروتوكول النقل الآمن (SSH) للاتصال بالجهاز
Name[bn]=আলপাকা
Name[de]=Alpaca
Name[es]=Alpaca
Name[fr]=Alpaca
Name[he]=Alpaca
Name[hi]=अलपाका
Name[id]=Alpaca
Name[it]=Alpaca
Name[ja]=Alpaca
Name[ka]=Alpaca
Name[nb_NO]=Alpaca
Name[nl]=Alpaca
Name[pt_BR]=Alpaca
Name[ta]=அல்பாகா
Name[te]=అల్పాకా
Name[tr]=Alpaca
Name[uk]=Alpaca
Name[zh_CN]=Alpaca
Name=Alpaca
Exec=alpaca
Icon=com.jeffser.Alpaca
Terminal=false
Type=Application
Categories=Utility;Development;Chat;
Keywords[ar]=ذكاء اصطناعي;ذكاء صناعي;ذكاء مصطنع;ذكاء مصنع;أولاما;نموذج لغوي كبير;alpaca;ollama
Keywords[bn]=কৃত্রিম বুদ্ধিমত্তা;অল্লামা;বৃহৎ ভাষা মডেল
Keywords[de]=ki;ollama;llm
Keywords[es]=ai;ollama;llm
Keywords[fr]=ia;ollama;llm
Keywords[he]=ai;ollama;llm;בינה מלאכותית;צ'אט;צ׳אט;למידת מכונה;מכונה לומדת;צ׳'אטבוט;בוט;
Keywords[hi]=कृत्रिम बुद्धिमत्ता;ओल्लामा;बड़ा भाषा मॉडल
Keywords[id]=ai;ollama;llm
Keywords[it]=ai;ollama;llm
Keywords[ja]=ai;ollama;llm
Keywords[ka]=ai;ollama;llm;ხი
Keywords[nl]=ai;ollama;llm
Keywords[pt_BR]=ai;ollama;llm
Keywords[ta]=ஏஐ;ஓல்லமா;எல்எல்எம்
Keywords[te]=ai;ఒల్లమా;llm
Keywords[tr]=ai;ollama;llm
Keywords[uk]=ai;ollama;llm
Keywords[zh_CN]=ai;ollama;llm
Keywords=ai;ollama;llm
StartupNotify=true
X-Purism-FormFactor=Workstation;Mobile;
